[submodule "bits.bits"]
	path = bits.bits
	url = https://github.com/bitsorg/bits.bits.git
[submodule "general.bits"]
	path = general.bits
	url = https://github.com/bitsorg/general.bits.git
[submodule "simulation.bits"]
	path = simulation.bits
	url = https://github.com/bitsorg/simulation.bits.git
[submodule "hepmc.bits"]
	path = hepmc.bits
	url = https://github.com/bitsorg/hepmc.bits.git
[submodule "analysis.bits"]
	path = analysis.bits
	url = https://github.com/bitsorg/analysis.bits.git
[submodule "ml.bits"]
	path = ml.bits
	url = https://github.com/bitsorg/ml.bits.git
